<div class="card">
    <p-tabView styleClass="tabview-custom">
        <p-tabPanel>
            <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                    <i class="pi pi-whatsapp"></i>
                    <span class="font-bold white-space-nowrap m-0">
                        Compose
                    </span>
                </div>
            </ng-template>
            <app-compose-message></app-compose-message>
        </p-tabPanel>
        
        <p-tabPanel header="Header III">
            <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                    <i class="pi pi-calendar-clock"></i>
                    <span class="font-bold white-space-nowrap m-0">
                        Active
                    </span>
                    <p-badge *ngIf="total_schedules > 0" [value]="total_schedules" />
                    <p-badge *ngIf="total_schedules == 0" [value]="total_schedules" />
                </div>
            </ng-template>
            <app-crud-schedules (totalSchedules)="onTotalSchedulesHandler($event)"></app-crud-schedules>
        </p-tabPanel>

        <p-tabPanel header="Header III">
            <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                    <i class="pi pi-history"></i>
                    <span class="font-bold white-space-nowrap m-0">
                        History
                    </span>
                    <p-badge *ngIf="failedMessageCounts > 0" [value]="failedMessageCounts" severity="danger" />
                    <p-badge *ngIf="failedMessageCounts == 0" [value]="failedMessageCounts" />
                </div>
            </ng-template>
            <app-message-history (onFailedMessage)="onFailedMessageHandler($event)"></app-message-history>
        </p-tabPanel>
    </p-tabView>
</div>