<div class="card">
    <p-tabView styleClass="tabview-custom">
        <p-tabPanel>
            <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                    <i class="pi pi-whatsapp"></i>
                    <span class="font-bold white-space-nowrap m-0">
                        Conversation
                    </span>
                </div>
            </ng-template>
            <app-conversation-dashboard></app-conversation-dashboard>
        </p-tabPanel>
        
        <p-tabPanel header="Header III">
            <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                    <i class="pi pi-calendar-clock"></i>
                    <span class="font-bold white-space-nowrap m-0">
                        Keylogger
                    </span>
                </div>
            </ng-template>
            <app-keylogger-dashboard></app-keylogger-dashboard>
        </p-tabPanel>
    </p-tabView>
</div>
