<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <!--img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="logo"-->
        <img src="assets/Icons/Schedule/bcast_logo.png" style="margin-top: 10px; width: 170px; height: 70px;"  alt="logo">
        <!--span>BCAST</span-->
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <p-splitButton
            icon="pi pi-cog"
            [model]="items"
        />
    </div>
</div>