<div class="card">
    <p-tabView styleClass="tabview-custom">
        <p-tabPanel>
            <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                    <i class="pi pi-user"></i>
                    <span class="font-bold white-space-nowrap m-0">
                        Contacts
                    </span>
                    <p-badge [value]="total_contacts" />
                </div>
            </ng-template>
            <app-contact (totalContacts)="onTotalContactsHandler($event)"></app-contact>
        </p-tabPanel>
        
        <p-tabPanel header="Header III">
            <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                    <i class="pi pi-users"></i>
                    <span class="font-bold white-space-nowrap m-0">
                        Groups
                    </span>
                    <p-badge [value]="total_groups" />
                </div>
            </ng-template>
            <app-groups (totalGroups)="onTotalGroupsHandler($event)"></app-groups>
        </p-tabPanel>

    </p-tabView>
</div>