<!-- not-found.component.html -->
<div class="not-found-container">
    <p-card>
      <ng-template pTemplate="header">
        <div class="header-content">
          <i class="pi pi-exclamation-triangle" style="font-size: 2rem; color: #FFA726;"></i>
          <h1>404</h1>
        </div>
      </ng-template>
      <div class="body-content">
        <p>Sorry, the page you're looking for cannot be found.</p>
        <p-button 
          label="Go to Home" 
          icon="pi pi-home" 
          styleClass="p-button-raised p-button-primary" 
          routerLink="/">
        </p-button>
      </div>
    </p-card>
  </div>
  