
<div class="card">
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            
        </ng-template>
        <ng-template pTemplate="right">
            <p-button
                severity="success"
                icon="pi pi-replay"
                class="mr-2"
                (onClick)="loadHistory()"
            />
        </ng-template>
    </p-toolbar>

    <p-table
        #dt2
        [value]="messages"
        dataKey="id"
        [rows]="10"
        [rowsPerPageOptions]="[10, 25, 50]"
        [loading]="loading"
        [paginator]="true"
        [globalFilterFields]="[
        'name',
        'schedule',
        'status'
        ]"
        [tableStyle]="{ 'min-width': '75rem' }"
        [loading]="loading"
    >
    <ng-template pTemplate="header">
        <tr>
            <th>Schedule Name</th>
            <th>Recipient</th>
            <th>Last Sent Date</th>
            <th>Last Sent Status</th>
            <th>Status Details</th>
        </tr>
        <tr>
            <th>
                <p-columnFilter 
                    type="text"
                    field="schedule_name" 
                    placeholder="Search by name" 
                    ariaLabel="Filter Name" />
            </th>
            <th>
                <p-columnFilter 
                    type="text"
                    field="recipient"
                    placeholder="Search by message" 
                    ariaLabel="Filter Message" />
            </th>
            <th>
                <p-columnFilter 
                    type="date"
                    field="send_date"
                    placeholder="Search by status" 
                    ariaLabel="Filter Status" />
            </th>
            <th>
                <p-columnFilter 
                    type="text"
                    field="status"
                    placeholder="Search by status" 
                    ariaLabel="Filter Status" />
            </th>
            <th>
                <p-columnFilter 
                    type="text"
                    field="status_details"
                    placeholder="Search by status details" 
                    ariaLabel="Filter Status Details" />
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-message>
        <tr>
            <td>
                {{ message.schedule_name }}
            </td>
            <td>
                {{ message.recipient }}
            </td>
            <td>
                {{ message.send_date }}
            </td>
            <td>
                {{ message.status }}
            </td>
            <td>
                {{ message.status_details }}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="5">No message history found.</td>
        </tr>
    </ng-template>
    </p-table>
</div>